@import 'devices.scss';

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
header,
footer { background: #56CCF2 ; }

nav {
  display: flex;
  justify-content: flex-end;
  z-index: -10;

  
  ul {
    display: flex;
    justify-content: space-around;
    width: 20%;
    height: 10vh;
    position: relative;
    align-items: center;

    @media screen and (min-width: $bp-medium-devices) and (max-width: $bp-large-devices) {
      width: 50%;
    }

    @media screen and (min-width: $bp-large-devices) and (max-width: $bp-extra-large-devices) {
      width: 40%;
    }

    @media screen and (min-width: $bp-small-devices) and (max-width: $bp-medium-devices) {
      width: 40%;
    }

    @media screen and (max-width: $bp-small-devices) {
      width: 100%;
      flex-direction: column;
      height: auto;
    }
    
    li {
      padding: 0 .3rem 0;;
      width: 70px;
      text-align: center;
      color: white;
      
      @media screen and (max-width: $bp-small-devices) {
        padding: .5rem;
        width: 100%;
      }

      a {
        color: white;
      }
    }

    li.sub-menu {
      @media screen and (max-width: $bp-small-devices) {
        padding: 0;
        width: 100%;
        order: 4;
      }

      ul {
        @media screen and (min-width: $bp-medium-devices) and (max-width: $bp-large-devices) {
          left: -6%;
        }

        @media screen and (min-width: $bp-large-devices) and (max-width: $bp-extra-large-devices) {
          left: 0;
        }

        @media screen and (min-width: $bp-small-devices) and (max-width: $bp-medium-devices) {
          left: 0;
        }

        @media screen and (max-width: $bp-small-devices) {
          width: 100vw;
          margin-top: .3rem;
        }

        li.product-active {
          @media screen and (max-width: $bp-small-devices) {
            width: 100%;
            padding: .5rem;
          }
        }
      }
    }
  }

  ul:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: inherit;
    position: absolute;
    top: content: '\f692';vh;

    .product {
      display: none;

      &:hover {
        opacity: .8;
        background: white;
      }
      
      &:hover a {
        color: #56CCF2;
      }
    }

    .product-active {
      display: block;
      text-align: center;
      width: 70px;
      padding: 1rem 1rem;
      background: #56CCF2;
      transition: all .3s ease-in;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  background-color: rgb(91, 165, 206);
  
  @media screen and (min-width: $bp-large-devices) and (max-width: $bp-extra-large-devices) {
    height: 83vh;
  }

  @media screen and (min-width: $bp-medium-devices) and (max-width: $bp-large-devices) {
    height: 83vh;
  }

  @media screen and (min-width: $bp-small-devices) and (max-width: $bp-medium-devices) {
    height: 83vh;
  }

  @media screen and (max-width: $bp-small-devices) {
    height: 83vh;
  }

  img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

.nike-ul {
  
  li.sub-menu {
    ul {
      @media screen and (min-width: $bp-medium-devices) and (max-width: $bp-large-devices) {
        left: 13%;
      }

      @media screen and (min-width: $bp-large-devices) and (max-width: $bp-extra-large-devices) {
        left: 18%;
      }

      @media screen and (min-width: $bp-small-devices) and (max-width: $bp-medium-devices) {
        left: 18%;
      }

      @media screen and (max-width: $bp-small-devices) {
        margin-top: 2.3rem;
      }
    }
  }
}

.nike-main {
  height: 80.5vh;
  background: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  @media screen and (min-width: $bp-extra-large-devices) {
    margin-bottom: .5rem;
  }

  @media screen and (min-width: $bp-large-devices) and (max-width: $bp-extra-large-devices) {
    margin-top: .5rem;
    height: auto;
  }

  @media screen and (min-width: $bp-medium-devices) and (max-width: $bp-large-devices) {
    margin-top: .5rem;
    height: auto;
  }

  @media screen and (min-width: $bp-small-devices) and (max-width: $bp-medium-devices) {
    margin-top: .5rem;
    height: auto;
  }

  @media screen and (max-width: $bp-small-devices) {
    height: auto;
  }

  .cart-container {
    border: 1px solid #56CCF2;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 1rem;
    flex: 0 1 300px;

    @media screen and (min-width: $bp-medium-devices) and (max-width: $bp-large-devices) {
      margin: 1rem 0;
    }

    @media screen and (min-width: $bp-small-devices) and (max-width: $bp-medium-devices) {
      margin: 1rem 0;
    }
  
    @media screen and (max-width: $bp-small-devices) {
      margin: 1rem 0;
    }

    &:last-of-type {
      @media screen and (min-width: $bp-large-devices) and (max-width: $bp-extra-large-devices) {
        margin-bottom: .5rem;
      }
    }
    img {
      padding-top: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    h3,
    p,
    button {
      margin: .5rem 0;
    }

    button {
      border: none;
      outline: none;
      padding: .6rem;
      border-radius: 1rem;
      background: #56CCF2;
      color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

section.shopping-cart-container {
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;

  @media screen and(min-width: $bp-medium-devices) and (max-width: $bp-large-devices) {
    margin-top: .5rem;
  }

  h1 {
    display: inline-block;
    width: 40vw;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px dotted black;
    padding-bottom: .5rem;
  }

  .cart-row {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width: $bp-small-devices) {
      flex-direction: column;
    }

    & > * {
      @media screen and (max-width: $bp-small-devices) {
        margin-bottom: .2rem;
      }
    }

    span {
      text-transform: uppercase;
      padding-bottom: .5rem;

      @media screen and (min-width: $bp-medium-devices) and (max-width: $bp-large-devices) {
        width: 10vw;
      }

      @media screen and (max-width: $bp-small-devices) {
        width: 10vw;
      }
    }

    img {
      width: 100px;
    }

    i {
      color: red;
      font-size: 2rem;

      @media screen and (min-width: $bp-medium-devices) and (max-width: $bp-large-devices) {
        margin-left: .5rem;
      }

      @media screen and (min-width: $bp-small-devices) and (max-width: $bp-medium-devices) {
        margin-left: .5rem;
      }

      @media screen and (max-width: $bp-small-devices) {
        margin-left: .5rem;
      }
    }
  }

  .price,
  .purchase {
    margin-top: 1rem;
  }

  .purchase {
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 1rem 1.5rem;
    transition: all .4s ease;

    &:hover {
      cursor: pointer;
      background-color: #56CCF2;
      color: white;
    }
  }
}

footer {
  padding: 1rem;
  width: 100vw;

  .social-icons-container {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: $bp-large-devices) {
      width: 50vw;
    }

    img {
      width: 30px;
  
      &:hover {
        cursor: pointer;
        transform: rotateX(360deg);
        transition: transform 1s ease;
      }
    }
  }
}